.about {
  width: 100vw;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 2rem;
}

.about_container-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about_img_container {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-3);
}

.about_img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.about_description {
  font-size: var(--normal-font-size);
}

.about_contact h1 {
  font-size: var(--h3-font-size);
  font-family: inherit;
}

.social {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  padding-top: 1rem;
}

.cv_button {
  padding: 1rem 1rem;
  border-radius: .5rem;
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  font-family: inherit;
}

.cv_button h3 {
  color: var(--input-color);
  font-size: var(--normal-font-size);
  font-family: inherit;
}

.card {
  width: 100%;
  
}

.card_header {
  width: 100%;
  
}

.card_header button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem;
  font-size: var(--h3-font-size);
  font-family: inherit;
  background: var(--first-color);
  color: var(--input-color);
  border-radius: 1rem;
  cursor: pointer;
}

.card_header button h5 {
  color: var(--input-color)
}

.card-body {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tech-skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: var(--smaller-font-size);
}

.tech-skill img {
  border-radius: 50%;
  width: 80%;
}

.collapse {
  padding-top: .25rem;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height .35s ease-in-out;
  
}

.hide-card {
  max-height: 0;
}

@media screen and (max-width: 980px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  
}