nav {
  height: var(--header-height);
  width: 100vw;
  background: var(--bg-color);
  position: fixed;
  place-items: center;
  top: 0;
  left: 0;
  box-shadow: 0 -3px 20px -5px;
  z-index: var(--z-modal);
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav_logo-container {
  align-items: center;
  line-height: 1;
  border-bottom: var(--mb-0-25) solid var(--first-color);
  border-left: var(--mb-0-25) solid var(--first-color);
  font-size: var(--smaller-font-size);
  padding: 0.25rem;
}

.nav_links {
  display: flex;
  gap: 4rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

.toggleBtn {
  display: none;
  
}

@media screen and (max-width: 1024px) {
  .toggleBtn {
    display: flex;
    align-items: center;
    background: transparent;
    font-size: 3rem;
    font-weight: var(--font-semi-bold);
    
  }

  .toggleBtn svg{
    color: var(--first-color);
  }

  .nav_logo-container h4 {
    color: var(--primary);
  }

  .nav_links-container {
    visibility: hidden;
    position: fixed;
    left: 100%;
    top: var(--header-height);
    width: 100vw;
    height: 100vh;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .nav_links {
    padding: 3rem 4rem;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    overflow-y: auto;
    background: var(--first-color-alt);
    font-size: var(--h2-font-size);
  }

  .nav_links li {
    padding-bottom: var(--header-height);
    color: var(--input-color);
  }

  .open {
    visibility: visible;
    transform: translateX(-100%);
  }

  .nav_links li a {
    color: var(--white);
  }
  
  
}