nav {
  height: 5rem;
  width: 100vw;
  background: var(--bg-color);
  position: fixed;
  place-items: center;
  top: 0;
  left: 0;
  box-shadow: 0 -3px 20px -5px;
  z-index: 2;
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav_logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 3rem;
  border-radius: 50%;
}

.nav_links {
  display: flex;
  gap: 3rem;
  font-size: 1rem;
  font-weight: 700;
  
}

.toggleBtn {
  display: none;
  
}


@media screen and (max-width: 1024px) {
  .toggleBtn {
    display: flex;
    align-items: center;
    background: transparent;
    font-size: 3rem;
    font-weight: 700;
    width: min-content;
  }

  .toggleBtn svg{
    color: var(--primary);
  }

  .nav_logo-container h4 {
    color: var(--primary);
  }

  .nav_links-container {
    visibility: hidden;
    position: fixed;
    left: 100%;
    top: 5rem;
    width: 100vw;
    height: 100vh;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .nav_links {
    padding: 4rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 2;
    overflow-y: auto;
    background: var(--primary);
    font-size: 1.5rem;
  }

  .open {
    visibility: visible;
    transform: translateX(-100%);
  }

  .nav_links li a {
    color: var(--white);
  }
  
}