.nav {
  height: 75px;
  width: 100vw;
  position: fixed;
  place-items: center;
  top: 0;
  left: 0;
  z-index: var(--z-modal);
}

.white {
  background: transparent;
}

.first-color {
  background-color: var(--first-color);
  box-shadow: 0 -3px 20px -5px;
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav_logo-container {
  align-items: center;
  line-height: 1;
  
  font-size: var(--smaller-font-size);
  padding: 0.25rem;
  font-family: 'Reem Kufi Ink', sans-serif; 
}

.logo-white {
  border-bottom: var(--mb-0-25) solid var(--bg-color);
  border-left: var(--mb-0-25) solid var(--bg-color);
}

.logo-first-color {
  border-bottom: var(--mb-0-25) solid var(--first-color);
  border-left: var(--mb-0-25) solid var(--first-color);
}

.nav_links {
  display: flex;
  gap: 3rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

.white-color {
  color: var(--bg-color)
}

.text-first-color {
  color: var(--first-color);
}

.toggleBtn {
  display: none;
}

.nav_links a, .nav_logo-container h6 {
  transition: var(--transition);
  padding: 4px;
}

.nav_links a:hover, .nav_logo-container:hover h6:hover {
  color: var(--first-color);
}

@media screen and (max-width: 1024px) {
  .toggleBtn {
    display: flex;
    align-items: center;
    background: transparent;
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    
  }


  .nav_logo-container h4 {
    color: var(--primary);
  }

  .nav_links-container {
    visibility: hidden;
    position: fixed;
    left: 100%;
    top: 65px;
    width: 80vw;
    height: fit-content;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .nav_links {
    padding: 3rem 4rem;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    overflow-y: auto;
    background: var(--first-color);
    font-size: var(--h2-font-size);
    border-bottom-left-radius: 2rem;
  }

  .nav_links li {
    padding: 1.5rem 0 .5rem 0;
    color: var(--input-color);
    border-bottom: 3px solid #fff;
  }

  .open {
    visibility: visible;
    transform: translateX(-100%);
  }

  .nav_links li a {
    color: var(--white);
  }
  
  
}